<footer id="footer">
    <div class="inner">
        <div class="copyright">
            2020 &copy; <a href="/">Cadastro Rápido</a>
        </div>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
