    <%- include('./header.ejs') %>

    <section id="banner">
        <div class="inner">
            <h1>Cadastro Rápido</h1>
            <p>Cadastre seu cliente com apenas um clique.<br />
            Aumente a conversão e fidelize clientes tudo em uma plataforma apenas</p>
            <a href="/criarconta" class="button primary">Começar</a>
        </div>
    </section>

    <br>
    <br>
    <br>

    <section id="description">
        <div class="inner">
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h2>CADASTRE RÁPIDO: COM APENAS UM CLIQUE</h2>
                    <h4>TENHA ORGANIZANDO OS DADOS DOS CLIENTES FÍSICOS</h4>
                </div>
                <div class="col-6 col-12-medium">
                    <p>
                        Sistema que facilita e aumenta a conversão de cadastros, ao centralizar informações, necessitando apenas da autorização para replicar o cadastro.
                        <br>
                        <br>
                        Isso é possível pois unificamos as informações dos clientes, e apenas com a sua autoriazação, você lojista já pode em um clique cadastrar seu cliente
                        <br>
                        <br>
                        Dessa maneira, você lojista pode aumentar o índice de cadastramento, e automaticamente ter esses dados organizados para realizar suas campanhas e vender mais.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <%- include('./footer.ejs') %>

    </body>
</html>
