    <%- include('./header.ejs') %>

    <section id="banner">
        <div class="inner">
            <h1>Cadastro Rápido</h1>
            <p>Cadastre seu cliente com apenas um clique.<br />
            Aumente a conversão e fidelize clientes tudo em uma plataforma apenas</p>
            <a href="/criarconta" class="button primary">Começar</a>
        </div>
    </section>

    <br>
    <br>
    <br>

    <section id="description">
        <div class="inner">
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h2>CADASTRE RÁPIDO: COM APENAS UM CLIQUE</h2>
                    <h4>TENHA ORGANIZANDO OS DADOS DOS CLIENTES FÍSICOS</h4>
                </div>
                <div class="col-6 col-12-medium">
                    <p>
                        Sistema que facilita e aumenta a conversão de cadastros, ao centralizar informações, necessitando apenas da autorização para replicar o cadastro.
                        <br>
                        <br>
                        Isso é possível pois unificamos as informações dos clientes, e apenas com a sua autoriazação, você lojista já pode em um clique cadastrar seu cliente
                        <br>
                        <br>
                        Dessa maneira, você lojista pode aumentar o índice de cadastramento, e automaticamente ter esses dados organizados para realizar suas campanhas e vender mais.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="cta" class="wrapper">
        <div class="inner">
            <h2>Benefícios para os Lojistas</h2>
            <p>Nossa tecnologia é projetada para aumentar as vendas do varejo físico. Isso porque aumentamos o números de clientes cadastrados, que podem ser fidelizados pela suas campanhas assertivas.</p>
        </div>
    </section>
    <section class="wrapper">
        <div class="inner">
            <header class="special">
               
                <h3>Entre em contato para mais informações. Nossa equipe é dedicada para entregar valor para você, gestor de varejo físico.</h3>
            </header>
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                            <h3>Fidelize seus Clientes</h3>
                        </header>
                        <p>Ao cadastrar com apenas uma informação, você constrói uma base super-qualificada de contatos. Isto é, com um marketing assertivo, é muito mais provável que esses clientes voltem a comprar em sua loja do que um anúncio avulso.  </p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                            <h3>Integre seus dados com outras plataformas</h3>
                        </header>
                        <p>Possibilitamos, por meio de solicitação, o envio dos dados de clientes cadastrados em diferentes formatos, para integrar com diferentes CRMs ou outros sistemas de gestão</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                            <h3>Salve as informações dos cliente da maneira mais rápida possível</h3>
                        </header>
                        <p>Nossa maneira de coletar as informações é pensada para que o seu cliente tenha a melhor expreiência possível. Assim, diminuimos a barreira do cliente passar seus dados</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                            <h3>Aumente suas vendas</h3>
                        </header>
                        <p>Quanto maior sua base de contatos qualificados, maior suas vendas. Ajudamos você a entender seu cliente e pensar na melhor estratégia para vender</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                            <h3>Organize campanhas de marketing direcionadas aos clientes</h3>
                        </header>
                    <p>Com as informações de seus clientes, é possível traçar estratégia de marketing exclusiva e personalizada, aumentando drasticamente a chance de conversão. E nós ajudamos a traçar essa estratégia</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                            <h3>Tecnologia para você e seu cliente</h3>
                        </header>
                        <p>Nossa tecnologia de baixo custo facilita sua vida e de seu cliente, além de trazer modernização para seu estabelecimento</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

<!-- Four -->
<section id="cta" class="wrapper">
    <div class="inner">
        <h2>Entre em contato com a gente</h2>
        <a href="mailto:contato@cadastro.uh-app.com.br?Subject=Interesse" class="button primary">Entre em Contato</a>
        <p> </p>
        <p>Para qualquer dúvida, estamos a disposição atendê-los da melhor maneira possível.</p>
    </div>
</section>

    <%- include('./footer.ejs') %>

    </body>
</html>
