<%- include('./header.ejs') %>

  <br>
  <br>
  <br>
  <section id="account">
    <div class="inner">
      <h3><strong>Detalhes da minha conta:</strong> nesta tela futuramente será possível acessar e editar os dados dos usuários</h3>
    </div>
  </section>

  <%- include('./footer.ejs') %>
  </body>
</html>
