<%- include('./header.ejs') %>

  <br>
  <br>
  <br>
  <section id="account">
    <div class="inner">
      <h3><strong>Detalhes da minha conta:</strong> para qualquer informação sobre sua conta, envie um e-mail para contato@cadastro.uh-app.com.br</h3>
    </div>
  </section>

  <%- include('./footer.ejs') %>
  </body>
</html>
