    <%- include('./header.ejs') %>

    <br>
    <br>
    <br>
    <section id="sucess">
        <div class="inner">
            <h1>Cadastro realizado com sucesso</h1>
            <a href="/" class="button primary">Atualizar informações</a>
        </div>
    </section>

    <%- include('./footer.ejs') %>
    </body>
</html>
